.main__date-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main__date-calendar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.land {
    display: block;
}

.port {
    display: none;
}

.main__date-calendar h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #1D232D;
}

.main__date-date {
    font-weight: 600;
    color: #8896D9;
}

.main__calendar-box {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__calendar {
    background-color: white;
    padding: 2vh;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__weekdays {
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 2vh;
    /* border-bottom: 2px solid #05B98C; */
}

#weekday {
    font-size: 1.5rem;
    font-weight: 600;
    color: #8896D9;
    justify-self: center;
}

.main__calendar-cells {
    height: 93%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2vh;
}

.main__cell-dates-now {
    background-color: white;
    border-radius: 10px;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.2s;
    animation: born 0.8s backwards;
}

.main__cell-dates {
    background-color: white;
    border-radius: 10px;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    animation: born 0.8s backwards;
    border: 2px solid #e1e2e2;
}

@keyframes born {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.main__d-number {
    color: #e1e2e2;
    font-weight: 800;
    font-size: 4rem;
}

.main__cell-dates:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    border-color: transparent;
}


.main__cell-dates-now:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.main__d-number-now {
    font-weight: 800;
    font-size: 4rem;
    color: #8896D9;
}

.main__data-changer-box {
    width: 10%;
    min-width: 90px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.main__data-changer-body {
    width: 72%;
    padding: 1vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.main__data-change-month,
.main__data-change-month-up,
.main__data-change-month-down {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2rem;
    font-weight: 800;
    color: #8896D9;
    text-transform: uppercase;
    transform-origin: 50% 50%;
    z-index: 9;
}

.main__data-change-month-up.active {
    animation: upActive 0.2s forwards;
}

.main__data-change-month-up.done {
    animation: upDone 0.5s forwards;
}

.main__data-change-month-down.active {
    animation: downActive 0.2s forwards;
}

.main__data-change-month-down.done {
    animation: downDone 0.5s forwards;
}

@keyframes upActive {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes upDone {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes downActive {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes downDone {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.main__data-change-b-up,
.main__data-change-b-down {
    background-color: white;
    min-height: 70px;
    width: 100%;
    border-radius: 15px;
    transform-origin: 50% 50%;
    transition-duration: 0.2s;
    z-index: 10;
    border: 2px solid #8A96D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__data-arrow-down,
.main__data-arrow-up {
    width: 50%;
}

.main__data-arrow-down {
    transform: rotate(180deg);
}

.main__data-change-b-up:hover,
.main__data-change-b-down:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@media all and (max-width: 1400px) {

    .main__d-number,
    .main__d-number-now {
        font-size: 3rem;
    }

    #weekday {
        font-size: 1.2rem;
    }

    .main__date-calendar h1 {
        font-size: 3.5rem;
    }

    .main__data-change-month {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 1050px) {

    .main__d-number,
    .main__d-number-now {
        font-size: 2rem;
    }

    #weekday {
        font-size: 1rem;
    }

    .main__date-calendar h1 {
        font-size: 3rem;
    }

    .main__data-change-month {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 850px) {
    .main__date-calendar h1 {
        font-size: 2.5rem;
    }

    #weekday {
        font-size: 0.8rem;
    }

    .main__data-changer-box {
        min-width: 70px;
    }

    .main__data-changer-body {
        padding: 1vh;
        border-radius: 25px;
    }

    .main__cell-dates {
        border-width: 1px;
    }

    .main__data-change-b-up,
    .main__data-change-b-down {
        max-height: 50px;
        min-height: 20px;
        border-radius: 15px;
        border: 1px solid #8A96D6;
    }
}

@media all and (orientation: portrait) {
    .main__date-box {
        height: 5%;
    }

    .main__calendar-box {
        height: 93%;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__data-changer-box {
        height: 10%;
        min-height: 80px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__calendar {
        height: 87%;
        max-height: 400px;
        padding: 2rem 1rem;
    }

    .main__data-changer-body {
        width: 100%;
        padding: 1vh;
        border-radius: 25px;
        display: grid;
        grid-template-columns: minmax(70px, 80px) 1fr minmax(70px, 80px);
        gap: 1rem;
        background-color: white;
    }

    .main__data-change-month,
    .main__data-change-month-up,
    .main__data-change-month-down {
        writing-mode: horizontal-tb;
        font-size: 2rem;
        font-weight: 800;
        color: #8896D9;
        text-transform: uppercase;
        transform-origin: 50% 50%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__data-change-b-down,
    .main__data-change-b-up {
        height: 100%;
        max-height: max-content;
    }

    .main__data-arrow-down,
    .main__data-arrow-up {
        width: 24px;
    }

    .main__weekdays {
        gap: 0.2rem;
    }

    .land {
        display: none;
    }

    .port {
        display: block;
    }

    #weekday {
        font-size: 1.4rem;
    }

    .main__d-number-now,
    .main__d-number {
        font-size: 1.4rem;
    }

    .main__calendar-cells {
        gap: 0.2rem;
    }

    .main__cell-dates {
        padding: 0;
        border: none;
    }
}