.entrance {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrance__form {
    background-color: #F7FAFC;
    border-radius: 25px;
    overflow: hidden;
    padding: 4rem;
    min-height: 800px;
    max-height: 1000px;
    min-width: 400px;
    max-width: 600px;
    width: 28vw;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrance__logo-box {
    height: 20%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.entrance__logo {
    font-size: 3.75em;
    font-weight: 600;
    color: #2D4047;
    letter-spacing: 10px;
}

.entrance__log-box {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.entrance__log-fields {
    background-color: white;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0px 2px 6px #BECFCB;
    border-radius: 15px;
}

.entrance__field-login,
.entrance__field-password {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrance__label-login,
.entrance__label-password {
    color: #2D4047;
    font-size: 1.75em;
    font-weight: 600;
    align-self: flex-start;
}

.entrance__input-field-login,
.entrance__input-field-password {
    padding: 0px 10px;
    font-size: 1.25em;
    font-weight: 500;
    color: #2D4047;
    height: 60px;
    width: 100%;
    background-color: #EBF7F3;
    border-radius: 10px;
    border: 4px solid #05B98C;
}

.entrance__submits-box {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.entrance__buttons-fields {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrance__entry-button {
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #BECFCB;
    font-size: 2em;
    font-weight: 600;
    color: #05B98C;
    transition-duration: 0.4s;
}

.entrance__entry-button:hover {
    box-shadow: 0px 4px 6px #a7b6b2;
    transform: scale(1.05);
    background-color: #05B98C;
    color: white;
}

.entrance__forgot-password-button {
    color: #05B98C;
    font-weight: 600;
    font-size: 1.35em;
    align-self: flex-start;
    position: relative;
}

.entrance__forgot-password-button::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 2px;
    width: 100%;
    background-color: #05B98C;
    transform-origin: 50% 100%;
    transform: scaleX(0);
    transition-duration: 0.2s;
}

.entrance__forgot-password-button:hover::before {
    transform: scaleX(1);
}