body {
    display: grid;
    grid-template-columns: minmax(240px, 280px) 1fr;
    grid-template-rows: 100vh;
}

.header__logo-top{
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5vh;
    background-color: #EAEDF2;
    border-radius: 50px;
    border: 1rem solid white;
}

.header__logo-box {
    height: 6.5%;
    min-height: 30px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    font-size: 2.25rem;
    font-weight: 800;
    color: #1D232D;
}

.header__nav-box {
    height: 87%;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: 1fr;
    padding: 2rem;
}

.header__link {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
    padding-left: 1rem;
    border-radius: 15px;
    gap: 1rem;
}

.header__link-icon {
    width: 22px;
}

.header__link-name {
    font-size: 1.4rem;
    color: #1D232D;
    font-weight: 600;
}

.active .header__link-name {
    color: #8A96D6;
}

.active {
    transition-duration: 0.2s;
}

.header__link:hover {
    background-color: #F0F2FF;
}

.header__exit-box {
    height: 6.5%;
    min-height: 30px;
    max-height: 60px;
    padding: 0.5rem;
}

.header__exit {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #8896D9;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.header__exit-name {
    color: #8896D9;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 0.4s;
}

.header__exit:hover {
    background-color: #8896D9;
}

.header__exit:hover .header__exit-name {
    color: white;
}

@media all and (max-width: 1400px) {
    body {
        grid-template-columns: minmax(200px, 240px) 1fr;
    }

    .header__logo {
        font-size: 2rem;
    }

    .header__nav-box {
        padding: 1rem;
    }

    .header__link-name {
        font-size: 1.2rem;
    }

    .header__exit-box {
        padding: 0.2rem;
    }
}

@media all and (max-width: 1250px) {
    .header__link-name {
        display: none;
    }

    body {
        grid-template-columns: minmax(100px, 140px) 1fr;
    }

    .header__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .header__nav-box {
        padding: 0;
    }

    .header__link-icon {
        width: 30px;
    }

    .header__logo {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media all and (max-width: 1050px) {
    .header__link-icon {
        width: 25px;
    }

    body {
        grid-template-columns: minmax(60px, 100px) 1fr;
    }

    .header__exit-name {
        font-size: 1rem;
    }

    .header__exit {
        border-width: 1px;
        border-radius: 10px;
    }

    .header__exit-box,
    .header__logo-box {
        min-height: 45px;
        max-height: 60px;
    }
}

@media all and (max-width: 850px) {
    .header__link-icon {
        width: 20px;
    }

    .header__logo {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media all and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(40px, 50px) minmax(200px, 1500px) minmax(40px, 66px);
        background-color: #EAEDF2;
    }

    .main {
        grid-row: 2/3;
        grid-column: 1/2;
        border: none;
        border-radius: 0;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(40px, 60px) 1fr;
    }

    .header {
        background-color: white;
        border-radius: 25px 25px 0 0;
        grid-row: 3/4;
        grid-column: 1/2;
        flex-direction: row;
        padding: 1rem;
    }

    .header__link:hover{
        background-color: transparent;
    }

    .header__logo-box, .header__exit-box {
        display: none;
    }

    .header__logo-top{
        grid-row: 1/2;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: minmax(20px,60px) 1fr minmax(60px, 120px);
        background-color: white;
    }

    .header__logo{
        font-size: 1.4rem;
    }

    .header__logo-top-box{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
    }

    .header__exit-top{
        grid-column: 3/4;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .header__exit-box {
        width: 30%;
        padding: 0;
        height: 100%;
        max-height: max-content;
    }
    
    .header__exit{
        height: 100%;
    }

    .header__exit-name{
        font-size: 1.6rem;
    }

    .header__link-icon {
        width: 25px;
    }
}