body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header {
    height: 100vh;
    width: 14vw;
    min-width: 120px;
    max-width: 400px;
    border-right: 2px solid #E7EAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo-box {
    height: 6.5%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E7EAEA;
}

.header__logo-box,
.header__exit-box {
    padding: 0px 2vh;
}

.header__logo {
    font-size: calc(16 * (100vw / 1080));
    font-weight: 600;
    color: #2D4047;
    letter-spacing: 2px;
    padding: 0px 1vh;
}

.header__nav-box {
    padding: 2rem 2vh;
    height: 87%;
    width: 100%;
}

.header__nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header__main-links {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__main-links>a,
.header__link-settings,
.header__link-exit {
    font-size: calc(14 * (100vw / 1080));
    color: #798A89;
}

.header__link-exit{
    background-color: transparent;
}

.header__exit-box {
    height: 6.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px solid #E7EAEA;
}

.header__link-home img,
.header__link-calendar img,
.header__link-voting img,
.header__link-settings img,
.header__link-exit img {
    width: calc(18 * (100vw / 1080));
    height: 30px;
}

.header__link-home,
.header__link-calendar,
.header__link-voting,
.header__link-settings,
.header__link-exit {
    padding: 0px 1vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 5vh;
    align-items: center;
    gap: 1.4vh;
    transition-duration: 0.4s;
}

.header__link-home:hover,
.header__link-calendar:hover,
.header__link-voting:hover,
.header__link-settings:hover,
.header__link-exit:hover{
    background-color: #F0F4F6;
    border-radius: 10px;
}
.active>.header__link-name {
    color: #05B98C;
    
}
.active{
    transition-duration: 0.4s;
}

.active:hover{
    background-color: #EBF7F3;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 86vw;
    height: 100vh;
    padding: 6.5vh;
}