.main__lesson-manager-box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
}

.main__lessons-panel-box {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 80px) 1fr;
    gap: 2rem;
}

.main__data-list-box {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    grid-template-rows: 1fr minmax(60px, 80px) minmax(40px, 60px);
    gap: 1rem;
}

.main__block-name h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #1D232D;
}

.main__correct-date-box {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main__correct-month {
    color: #BCC3C3;
    font-weight: 400;
    font-size: 1.5rem;
}

.main__correct-day {
    color: #8896D9;
    font-weight: 500;
    font-size: 5rem;
}

.main__correct-weekday {
    color: #7F8C8C;
    font-weight: 500;
    font-size: 1.4rem;
}

.main__send-info-button {
    height: 100%;
    font-size: 1.5rem;
    color: #8B96D3;
    background-color: #EDF0FE;
    font-weight: 600;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.main__send-info-button:hover {
    box-shadow: 0px 0px 10px #8896D9;
}

.main__classes-list {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 100px));
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: minmax(80px, 100px);
    gap: 1rem;
    padding: 0.5rem
}

.main__classes-list li {
    font-size: 2rem;
    font-weight: 600;
    color: #e1e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #e1e2e2;
    transition-duration: 0.4s;
}

.main__classes-list li:hover {
    color: #1D232D;
    border-color: #1D232D;
}

.main__classes-list::-webkit-scrollbar {
    height: 10px;
    background-color: #8B96D3;
}

.main__classes-list::-webkit-scrollbar-thumb {
    background-color: white;
    border: 2px solid #8B96D3;
}

.main__lesson-taking {
    font-size: 1.75rem;
    font-weight: 600;
    color: #E1E2E2;
    border-radius: 10px;
    border: 2px solid #E1E2E2;
    display: flex;
    padding: 0 1rem;
    justify-content: start;
    align-items: center;
    transition-duration: 0.3s;
}

.main__lessons-list.active .main__lesson-taking{
    border-color: #8B96D3;
    color: #8B96D3;
}

.main__lessons-list.active .main__lesson-taking:hover{
    background-color: #8B96D3;
    color: white;
}

.main__lessons-list {
    gap: 1rem;
    padding: 0.5rem;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(40px, 50px));
    grid-auto-flow: row;
    grid-auto-rows: minmax(40px, 50px);
}

.main__lessons-list::-webkit-scrollbar {
    width: 10px;
    background-color: #8B96D3;
}

.main__lessons-list::-webkit-scrollbar-thumb {
    background-color: white;
    border: 2px solid #8B96D3;
}

.main__lessons-managment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
}

.main__lessons-el,
.main__lessons-plus {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
    font-size: 2rem;
    color: #e1e2e2;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #e1e2e2;
    transition-duration: 0.5s;
}

.main__lessons-el {
    justify-content: space-between;
}

.main__lessons-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition-duration: 0.5s;
}

.main__lessons-plus:hover {
    transform: scale(1.02);
    color: #1D232D;
    border: 2px solid #1D232D;
}

.main__lessons-el:hover {
    transform: scale(1.02);
    color: #1D232D;
    border: 2px solid #1D232D;
}

.main__lessons-el:hover .main__button-lesson-func {
    opacity: 1;
}

.main__button-lesson-func {
    background-color: transparent;
    transition-duration: 0.5s;
    opacity: 0;
}

.main__lesson-func-sign{
    transition-duration: 0.2s;
}

.main__button-lesson-func:hover .main__lesson-func-sign{
    fill: #1D232D;
}